@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Itim&family=Jacques+Francois+Shadow&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--foreground);
  --font-Irish: "Irish Grover";
  --font-Jacques: "Jacques Francois Shadow";
  --font-Itim: "itim";
}

.small-screen {
  display: none;
}

@media screen and (max-width: 640px) {
  .small-screen {
    display: block;
  }

  .big-screen {
    display: none;
  }
}