@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Itim&family=Jacques+Francois+Shadow&family=Jomolhari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--foreground);
  --font-Irish: "Irish Grover";
  --font-Jacques: "Jacques Francois Shadow";
  --font-Itim: "itim";
  --font-Jomolhari: "Jomolhari";
  --breakpoint-xs: 22rem;
  --breakpoint-xm: 52rem;
}

.small-screen {
  display: none;
}

.cart_background{
  background-color: rgba(0, 0, 0, 0.5);
}

.men_accessories_bg{
  background-image: url(./assets/mens_accessory.jpg);
}

.men_bottom_bg{
  background-image: url(./assets/mens_bottom.jpg);
}

.men_footwear_bg{
  background-image: url(./assets/mens_footwear.jpg);
}

.men_top_bg{
  background-image: url(./assets/mens_top.jpg);
}

.men_outerwear_bg{
  background-image: url(./assets/mens_outerwear.jpg);
}

.activeSlide {
  opacity: 1;
  transform: translateX(0);
  z-index: 10;
}

.lastSlide {
  opacity: 0;
  transform: translateX(5%);
  visibility: hidden;
  /* display: none; */
}

.nextSlide {
  transform: translateX(-20%);
  opacity: 1;
  visibility: hidden;
}

.scroll-hidden {
  overflow: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer */

  /* Webkit (Chrome, Safari) */
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 740px) {
  .recommended-items>:last-child {
    display: none;
  }}

.holiday_sale_gradient {
  background: linear-gradient(90deg, rgba(89, 88, 93, 1) 0%, rgba(204, 203, 208, 1) 53%, rgba(89, 88, 93, 1) 100%, rgba(204, 203, 208, 1) 62%, rgba(204, 203, 208, 1) 100%);
}

.mens_footwear_gradient {
  background: linear-gradient(90deg, rgba(89, 88, 93, 1) 0%, rgba(204, 203, 208, 1) 53%, rgba(89, 88, 93, 1) 100%, rgba(204, 203, 208, 1) 62%, rgba(204, 203, 208, 1) 100%);
}

.womens_footwear_gradient {
  background: linear-gradient(42deg, rgba(247, 246, 244, 1) 0%, rgba(234, 223, 196, 1) 72%, rgba(219, 194, 138, 1) 92%, rgba(234, 223, 196, 1) 99%);
}

.newsletter_gradient{
  background: linear-gradient(180deg, rgba(68, 60, 60, 1) 0%, rgba(102, 56, 56, 1) 43%, rgba(250, 158, 158, 1) 100%);
}

@media screen and (max-width: 640px) {
  .small-screen {
    display: block;
  }

  .big-screen {
    display: none;
  }
}