@import url('https://fonts.googleapis.com/css2?family=Inter&family=Irish+Grover&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--foreground);
  --font-Irish: "Irish Grover"
}

.small-screen {
  display: none;
}

@media screen and (max-width: 640px) {
  .small-screen {
    display: block;
  }

  .big-screen {
    display: none;
  }
}